<!doctype html>
<html lang="en">

<body>
    <header>
        <a href="/">My 11ty Site!</a>
        <nav>
            <a href="/characters/page-1/">Characters</a>
        </nav>
    </header>
    <main>
        {% block content %}
            {% if title %}<h1>{{title}}</h1>{% endif %}
            {{content}}
        {% endblock %}
    </main>
</body>

</html>